:root {
    /* This color should be eye-catching but not harsh. It can be liberally applied to your layout as its main identity. */
    --main-brand-color: #FC8D1E;
    /* Another accent color to consider. Not all colors have to be used - sometimes a simple color scheme works best. */
    --dark-accent-color: #E74244;
    /* Use as the text color for dark-on-light designs, or as the background for inverted designs. */
    --dark-shades-color: #312B37;
    /* Accent colors can be used to bring attention to design elements by contrasting with the rest of the palette. */
    --ligh-accent-color: #52B497;
    /* Use this color as the background for your dark-on-light designs, or the text color of an inverted design */
    --light-shades-color: #F4F1EF; 
  }

body {
    background-color: var(--dark-shades-color);
    color: var(--light-shades-color);
}

.jumbotron-colors{
    background-color: var(--light-shades-color);
    color: var(--dark-shades-color);
}

.nav-colors{
    background-color: var(--main-brand-color);
}

.nav-link-color {
    color: var(--dark-shades-color);
}

nav a{
    color: var(--dark-shades-color) !important;
    text-decoration: none;
}

.primary-button {
    background-color: var(--main-brand-color);
}

.secondary-actions{
    background-color: var(--ligh-accent-color);
    color: var(--light-shades-color);
}

.knux-actions{
    background: var(--light-shades-color);
    width: auto;
    padding: 2rem;
    margin: 3rem 22rem;
    border-radius: 10px;
    color: var(--dark-shades-color)
}

.knux-image{
    max-width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    border-radius: 10px;
}

.all-knux{
    font-size: 105px;
    display: flex;
    justify-content: space-around;
    margin-top: 19rem;
}

.knuxR1{
}

.knuxR2{
    position: relative;
    left: -96px;
}

.knuxR3{
    position: relative;
    left: -135px;
}

.knuxR4{
    position: relative;
    left: -157px;
}

.knuxL1{
    position: relative;
    right: -154px;
}

.knuxL2{
    position: relative;
    right: -134px;
}

.knuxL3{
    position: relative;
    right: -86px;
}

.knuxL4{
}

@media only screen and (max-width: 1678px) {
    .all-knux{
        margin-top: 16rem;
    }

    .knuxR2{
        left: -85px;
    }
    
    .knuxR3{
        left: -121px;
    }
    
    .knuxR4{
        left: -136px;
    }
    
    .knuxL1{
        right: -134px;
    }
    
    .knuxL2{
        right: -115px;
    }
    
    .knuxL3{
        right: -73px;
    }
  }

  @media only screen and (max-width: 1450px) {
    .all-knux{
        margin-top: 13rem;
    }

    .knuxR2{
        left: -47px;
    }
    
    .knuxR3{
        left: -85px;
    }
    
    .knuxR4{
        left: -121px;
    }
    
    .knuxL1{
        right: -121px;
    }
    
    .knuxL2{
        right: -98px;
    }
    
    .knuxL3{
        right: -64px;
    }
  }

  @media only screen and (max-width: 1285px) {
    .all-knux{
        margin-top: 10rem;
        font-size: 94px;
    }

    .knuxR2{
        left: -72px;
    }
    
    .knuxR3{
        left: -98px;
    }
    
    .knuxR4{
        left: -109px;
    }
    
    .knuxL1{
        right: -106px;
    }
    
    .knuxL2{
        right: -90px;
    }
    
    .knuxL3{
        right: -57px;
    }
  }

  @media only screen and (max-width: 1045px) {
    .all-knux{
        margin-top: 8rem;
        font-size: 84px;
    }

    .knuxR2{
        left: -58px;
    }
    
    .knuxR3{
        left: -81px;
    }
    
    .knuxR4{
        left: -89px;
    }
    
    .knuxL1{
        right: -87px;
    }
    
    .knuxL2{
        right: -74px;
    }
    
    .knuxL3{
        right: -46px;
    }
  }

  @media only screen and (max-width: 875px) {
    .all-knux{
        margin-top: 7rem;
        font-size: 70px;
    }

    .knuxR2{
        left: -46px;
    }
    
    .knuxR3{
        left: -68px;
    }
    
    .knuxR4{
        left: -74px;
    }
    
    .knuxL1{
        right: -73px;
    }
    
    .knuxL2{
        right: -61px;
    }
    
    .knuxL3{
        right: -39px;
    }
  }

  @media only screen and (max-width: 690px) {
    .all-knux{
        margin-top: 5rem;
        font-size: 58px;
    }

    .knuxR2{
        left: -38px;
    }
    
    .knuxR3{
        left: -52px;
    }
    
    .knuxR4{
        left: -59px;
    }
    
    .knuxL1{
        right: -57px;
    }
    
    .knuxL2{
        right: -48px;
    }
    
    .knuxL3{
        right: -30px;
    }
  }

  @media only screen and (max-width: 560px) {
    .all-knux{
        margin-top: 4rem;
        font-size: 47px;
    }

    .knuxR2{
        left: -31px;
    }
    
    .knuxR3{
        left: -44px;
    }
    
    .knuxR4{
        left: -48px;
    }
    
    .knuxL1{
        right: -46px;
    }
    
    .knuxL2{
        right: -39px;
    }
    
    .knuxL3{
        right: -25px;
    }
  }

  @media only screen and (max-width: 445px) {
    .all-knux{
        margin-top: 3.5rem;
        font-size: 40px;
    }

    .knuxR2{
        left: -25px;
    }
    
    .knuxR3{
        left: -34px;
    }
    
    .knuxR4{
        left: -39px;
    }
    
    .knuxL1{
        right: -38px;
    }
    
    .knuxL2{
        right: -31px;
    }
    
    .knuxL3{
        right: -19px;
    }
  }

  @media only screen and (max-width: 365px) {
    .all-knux{
        margin-top: 2.75rem;
        font-size: 35px;
    }

    .knuxR2{
        left: -21px;
    }
    
    .knuxR3{
        left: -28px;
    }
    
    .knuxR4{
        left: -32px;
    }
    
    .knuxL1{
        right: -32px;
    }
    
    .knuxL2{
        right: -26px;
    }
    
    .knuxL3{
        right: -15px;
    }
  }