{{page-title "Account"}}

<h1>Account Info</h1>
<div class="mb-3 row">
    <label for="staticEmail" class="col-auto col-form-label">Email</label>
    <div class="col-auto">
        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
    </div>
</div>
{{!-- need to do a update password button that then shows an update field and confirm field --}}
<div class="mb-3 row">
    <label for="inputPassword" class="col-auto col-form-label">Password</label>
    <div class="col-auto">
        <input type="password" class="form-control" id="inputPassword">
    </div>
</div>